@import "Font.css";

html,
body {
	font-family: "Cairo", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #ffffff;
}

header{
	position: fixed;
	z-index: 1;
	width: 100%;
}

header .row{
	margin-left: 8px;
	margin-right: 8px;
}

.contents{
	height: calc(100% - 277px);
	max-width: calc(100vw - 320px);
	margin-left: 15px;
	top: 179px;
	left: 280px;
	right:5px; 
	position: absolute;


}
/*------------------------HEADER SECTION------------------------------*/


.header__top{
  background: #8fd625;
}

.header__nav{
	background-color: #ffffff;
	max-height: 115px;;
}

.header__top__left {
  padding: 17px 0 13px;
}

.header__top__right {
  text-align: right;
  padding: 10px 0 13px;
}

.header__menu {
	padding: 34px 0;
}



.header__menu ul li {
	list-style: none;
	display: inline-block;
	margin-right: 40px;
	position: relative;
}

.header__menu ul li.active a {
	color: #7fad39;
}

.header__menu ul li:hover>a {
	color: #7fad39;
}

.header__menu ul li:last-child {
	margin-right: 0;
}

.header__menu ul li a {
	font-size: 14px;
	color: #252525;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	padding: 5px 0;
	display: block;
}

.header__menu a.active{
	color: #7fad39;
}



.header__top__right__auth {
	display: inline-block;
  padding: 5px 15px;
}



.header__left,  .header__right {
	padding: 34px 2%;
	height: 115px;
  }

.header__left a {
	display: inline-block;
}
.header__left img {
	max-width: 100%;
	max-height: 100%;
	display: block;
}


.btn{
  margin-left: 5px
}

/*-------------------------HAMBURGER MENU SETION------------------------*/

.hamburger__menu{
	display: none;
}

/*----------------------Searchbar-------------------------------------*/

.search__bar{
	position: fixed;
	width: calc(100vw - 280px);
	padding: 30px;
	top: 179px;
	left: 280px;
	right: 10px;
	background-color: #fff;
	z-index: 1;
}


/*--------------------------------- Responsive Media Quaries -----------------------------*/

@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}

@media only screen and (max-width: 992px){

	.header__right{
		text-align: center;
	}

	.header__top {
		display: none;
	}
	.header__menu {
		display: none;
	}

	.hamburger__menu {
		display: block;
		font-size: 22px;
		color: #1c1c1c;
		height: 35px;
		width: 35px;
		line-height: 33px;
		text-align: center;
		border: 1px solid #1c1c1c;
		cursor: pointer;
		position: absolute;
		right: 5%;
		top: 22px;
	}

	#extras{
		width:auto;
	}

	.sideBar{
		display: none;
	}

	.search__bar{
		top: 0;
		width: 100%;
		margin-top: 115px;			
	}

	.contents{
		width: 100%;
		left: 0;
	}
}


@media only screen and (max-width: 770px){
	#extras{
		display: none;
	}

}